/*.progress-bar {
	width:75%;
}*/

.background-blue {
	background-color: #d8eefe;
}

.skillName {
	text-align: center;
	font-size: 2vw;
	margin-bottom: 5%;
}

.skillsHeader {
	margin-top: 5%;
	margin-left: 2%;
}

